<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/DeluxePackraftPackage.jpg" width="500px" />
        <h3>Deluxe Packraft Package</h3>
        <p>
            Includes registration for some combination of the Packraft 101, Packraft 101L or Gila Primer clinics -depending on participant ability.  Designed for those who plan to invest some time in the region and desire or more cohesive clinic spanning 3-4 days.  Cost summary $500/person or check for group discount.
        </p>
        <h4>Essential Packrafting Eligibility Criteria</h4>
        <p>
            Courses and trips are open to all individuals who acknowledge the ability to perform the following Essential Eligibility Criteria:
        </p>
        <ol>
            <li>Breathe independently (i.e., not require medical devices to sustain breathing)</li>
            <li>Independently maintain sealed airway passages while under water</li>
            <li>Independently hold head upright without neck / head support</li>
            <li>Manage personal care independently or with assistance of a companion</li>
            <li>Manage personal mobility independently or with a reasonable amount of assistance</li>
            <li>Follow instructions and effectively communicate independently or with assistance of a companion</li>
            <li>Independently turn from face-down to face-up and remain floating face up while wearing a properly fitted personal flotation device (PFD)</li>
            <li>Independently swim to or from the shore and away from river hazards while wearing a properly fitted personal flotation device (PFD)</li>
            <li>Get on or off, or in and out, of a paddle-craft independently or with a reasonable amount of assistance</li>
            <li>Independently get out and from under a capsized paddle-craft</li>
            <li>Remount or reenter the paddle-craft following deep water capsize independently or with a reasonable amount of assistance</li>
            <li>Independently enter and exit the water in a lake, river or stream</li>
            <li>Maintain a safe body position while attempting skills, activities and rescues listed in the appropriate course description(s), and have the ability to recognize and identify to others when such efforts would be unsafe given your personal situation</li>
        </ol>
        <p>
            These criteria represent the minimum standards necessary to maintain the safety of participants and instructors, as well as the overall course experience. Inability to meet these criteria will disqualify a person from participating in a course with GAILS. None of these criteria are meant to discriminate on the basis of any physical or mental disability. They are applied uniformly to all potential trip participants, irrespective of the presence or absence of any disability. If you have any questions about whether or not you are eligible to participate, please do not hesitate to contact us.
        </p>
    </div>
</div>