<div class="section">
    <div class="subsection">
        <!-- <img class="subsection-header-image" src="../../assets/images/GilaPrimer.jpg" width="500px" /> -->
        <h3>Blue River</h3>
        <ul>
            <li>Upper Primitive Area (Blue, AZ to Juan Miller Crossing, AZ) = $350</li>
            <li>Lower Dos Rios (Juan Miller, AZ to Clifton, AZ) = $250</li>
            <li>Lower Tres River (Juan Miller Crossing, AZ to Solomon, AZ) = $350 (coming in Fall 2024)</li>
            <li>Whole Enchilada (Blue, AZ to Solomon, AZ) = $400 (coming in Fall 2024)</li>
            <li>Inquire about custom pricing for shuttle and logistic support throughout the Gila Region.</li>
        </ul>
    </div>
</div>