@import './../../../assets/styles/common.scss';

:host {
    width: 100%;
}
  
.splash {
    margin: 2em 12em;
    width: auto;
    display: flex;
    align-items: flex-start;
    //justify-content: flex-end;
    color: $color-gails-super-bright-white;
    .splash-text {
        flex: 1.5 1;
        font-family: $font-family-display;
        font-size: 32px;
        color: $color-gails-camel;
        background: rgba($color: $color-gails-rust, $alpha: .5);
        text-align: right;
        border-bottom-left-radius: 120px;
        padding: 1em 2em;
        em {
            font-size: 48px;
            font-weight: 900;
            font-style: normal;
            color:$color-gails-orange;
            line-height: .95em;
        }
        b {
            font-weight: 600;
            color: $color-gails-bright-white;
        }
        // .splash-inline-image {
        //     height: 300px;
        //     float: right;
        //     margin-right: -220px;
        //     z-index: 1;
        //     margin-left: 1em;
        //     margin-bottom: -120px;
        //     //border: 16px solid $color-gails-slate-blue; 
        //     clip-path: inset(2px 2px 2px 0 round 16px);
        //     border-radius: 16px;
            
        // }
    }
    .splash-feature-image {
      flex: 1 1;
      width: 60px;
        border-top-right-radius: 120px;
        z-index: -1;
        opacity: 90%;
        clip-path: inset(2px 2px 2px 0 round 0);
        margin-left: 2em;
        //border-left: 32px solid $color-gails-slate-blue; 
    }
}
