<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../assets/images/DiscFrisbeeGolf.jpg" width="240px" />
        <h3>Disc (Frisbee) Golf</h3>
        <p>
            The GAILS property boasts a private 15-hole disc golf course that plays across the San Fransisco River and spans the entire 6-acre rancho property.  While the course lacks official driving pads and signage, every “hole” utilized PDGA approved chain-style baskets.  The evolving layout is truly one of the more unique and scenic disc golf courses you will ever play!  Cost summary = $5 greens fee or free with other services (donations for maintenance always welcome).
        </p>
    </div>
</div>
