<div class="section">
    <div class="subsection">
        <!-- <img class="subsection-header-image" src="../../assets/images/DeluxePackraftPackage.jpg" width="500px" /> -->
        <h3>Campground</h3>          
        <p>The GAILS rancho is a 6-acre property, that straddles the San Francisco River, located in Pleasanton, NM.  If you want a secure and private camping experience, with instant access to the San Francisco River, Gila Wilderness, Blue Range Wilderness and Blue Range Primitive Area then this is the ticket.  The property boasts amazing views of the Brushy Mountain cliffs and Mogollon Mountains.  Amazing wildlife viewing/birding is an ever-present pursuit.  Generally, no electric hook-ups (only upon request/need basis), but water and outhouse provided.  Disc golf course and llamas onsite. Cost summary is per vehicle/night.</p>
        <ul>
            <li>Bring your own tent or trailer = $15/night</li>
            <li>4 -person standing height tent, on the deck = $20/night or down by the river $25/night</li>
            <li>16‘ insulated travel trailer (double bed) = $30/night</li>
            <li>Medicine Tipi – with advance notice for set-up = $40/night (3 night minimum)</li>
            <li>Coming Soon – “The Eyrie” semi-permanent deck tent = $30/night</li>
        </ul>
    </div>
</div>
