<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../assets/images/TraditionalFlyOrTenkaraFishing.jpg" width="500px" />
        <h3>Traditional Fly or Tenkara Fishing</h3>
        <p>
            Whether you are interested in learning technique or just getting out to bag the elusive native Gila Trout, GAILS is ideally situated to explore the proximate waters, with the heart of Gila trout habitat being the Gila and Aldo Leopold Wilderness Areas. The once endangered species are beautiful, resilient, and a pleasure to angle for, as much a part of the region's character as the Gila River itself.  
        </p>
    </div>
</div>
