<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/TraditionalFlyOrTenkaraFishing.jpg" width="500px" />
        <h3>Fly and Tenkara 101 (Gear and Casting Techniques)</h3>
        <p>
            Basic ½ to full day clinics dedicated to the art and science of both traditional (Scottish) and Tenkara (Japanese) fly-fishing forms, equipment and shared techniques.  You will also learn how to “read” fishable water and some tidbits regarding game species, especially the native Gila and Apache Trout.  Cost summary: $49/person = ½-day basics and casting clinic and $99/person = full day, including a fishing introduction to Whitewater Creek.  Ask about group/family discounts.
        </p>
    </div>
</div>

