<div class="section">
    <div class="subsection">
        <!-- <img class="subsection-header-image" src="../../assets/images/GilaPrimer.jpg" width="500px" /> -->
        <h3>San Franciso River</h3>
        <ul>
            <li>Upper Box (Reserve to Kelly Ranch) = $100</li>
            <li>Middle Box (Alma to Pleasanton) = $30</li>
            <li>Wilderness Study Area (Pleasanton, NM to Clifton, AZ) = $150</li>
            <li>Dos Rios - Gila/San Fran (WSA/RNCA) combo (Pleasanton, NM to Solomon, AZ) = $ 200* (*coming in Fall 2024*)</li>
        </ul>
    </div>
</div>
