<div class="section">
    <div class="subsection">
        <p>GAILS is happy to offer logistical support (vehicle shuttles) to support even your most elaborate wilderness or backcountry adventure.  The most common application, involve shuttling your personal vehicle to a trailhead, river access point (RAP) or other identified location so that it is waiting for your group upon emerging from your backcountry hiking, backpacking, llama trekking, fly-fishing or paddling trip.  While we provide shuttle support anywhere in the Gila Region, the most common service is for known River Access Points (RAPs).  Cost summary lists current prices, per vehicle.</p>
    </div>
</div>
