<div class="section">
    <div class="subsection">
        <!-- <img class="subsection-header-image" src="../../assets/images/GilaPrimer.jpg" width="500px" /> -->
        <h3>Gila River</h3>
        <ul>
            <li>Wilderness (Grapevine or West Fork to Mogollon Creek) = $250</li>
            <li>Middle Box (BCA to Redrock) = $200</li>
            <li>Wilderness and Middle Box (Grapevine to Redrock) = $350</li>
            <li>Dos Boxes (BCA to Virden) = $200</li>
            <li>AZ Box RNCA (coming in Fall 2024)* = $200</li>
        </ul>
    </div>
</div>
