<header class="main">
    <div class="header">
        <div class="header-top-border"></div>
        <div class="header-content">
            <img class="banner-logo" src="assets/logo.svg" height="130px"/>
            <img class="banner-patch" src="assets/patch.svg" height="260px"/>
            <div clsss="banner-menu">

            </div>
            <ul class="banner-menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">Contact</a></li> 
            </ul>
        </div>
        <div class="header-bottom-border"></div>
    </div>
    
</header>