
<div class="main">
    <header class="header">
        <div class="header-top-border"></div>
        <div class="header-content-warpper">
            <div class="header-content">
                <img class="banner-logo" src="assets/logo.svg" height="130px"/>
                <div class="banner-patch-wrapper">
                    <img class="banner-patch" src="assets/patch.svg" height="216px"/>
                </div>
                <div class="banner-menu">
                    <ul>
                        <li><a href="#">Adventures</a>
                            <ul>
                                <li href="#">Packrafting
                                <li href="#">Fly/Tenkara Fishing</li>
                                <li href="#">Llama Handling</li>
                                <li href="#">Spike Camps</li>
                                <li href="#">Disc Golf</li>
                            </ul>
                        </li>
                        <li class="link"><a href="#" >Courses</a></li>
                        <li class="link"><a href="#" >Videos</a></li>
                        <li class="link"><a href="#" >Rentals</a></li>
                        <li class="link"><a href="#" >Events</a></li>
                        <li class="link"><a href="#" >Campground</a></li>
                        <li class="link"><a href="#" >River Access</a></li>
                        <li class="link"><a href="#" >Shuttles</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom-border"></div>
    </header>
    <div class="content">
        <article class="splash">
            <div class="splash-text">
                <!-- <img class="splash-inline-image" src="./../assets/images/splash-inline-image.png" />  -->
                <em>GAILS</em> provides holistic knowledge and support for all your <b>Gila Region</b> back-country <em>adventures!</em>
            </div>
            <img class="splash-feature-image" src="./../assets/images/splash-inline-image.png" />
        </article>
        <article class="section adventure-section">
            <section class="section-header">
                <div>&nbsp;</div>
                <h2>Adventures</h2>
                <div>&nbsp;</div>
            </section>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/packrafting2.jpg" width="500px" />
                <h3>Packrafting</h3>
                <p>
                    The Gila Region is home to a high density of perennial streams, as compared to most other areas within the arid Southwest, making packrafting the perfect mode of transportation to explore this remote and scenic wilderness destination. GAILS is proud to offer beginner – intermediate instruction, guided overnight clinics and equipment rentals to support your paddling adventures!
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/LlamaTrekking.jpg" width="500px" />
                <h3>Llama Trekking</h3>
                <p>
                    The GAILS rancho has been home to three “Classic” pack llamas for over a decade now. These sure-footed camelids are fully trained for panier-style packing and can carry 75-100 lbs. of gear per animal. Visitors and campers can hang out, photograph and hand feed them or enroll in ½ - full day clinic on handling and packing techniques.
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/TraditionalFlyOrTenkaraFishing.jpg" width="500px" />
                <h3>Traditional Fly or Tenkara Fishing</h3>
                <p>
                    Whether you are interested in learning technique or just getting out to bag the elusive native Gila Trout, GAILS is ideally situated to explore the proximate waters, with the heart of Gila trout habitat being the Gila and Aldo Leopold Wilderness Areas. The once endangered species are beautiful, resilient, and a pleasure to angle for, as much a part of the region's character as the Gila River itself.  
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/DiscFrisbeeGolf.jpg" width="240px" />
                <h3>Disc (Frisbee) Golf</h3>
                <p>
                    The GAILS property boasts a private 15-hole disc golf course that plays across the San Fransisco River and spans the entire 6-acre rancho property.  While the course lacks official driving pads and signage, every “hole” utilized PDGA approved chain-style baskets.  The evolving layout is truly one of the more unique and scenic disc golf courses you will ever play!  Cost summary = $5 greens fee or free with other services (donations for maintenance always welcome).
                </p>
            </div>
        </article>
        <article class="section adventure-section">
            <section class="section-header">
                <div>&nbsp;</div>
                <h2>Clinics</h2>
                <div>&nbsp;</div>
            </section>
            <div class="subsection">
                <h3>Packraft 101</h3>
                <p>
                    Basic ½ or single day clinic that covers everything packrafting, including: the basics of equipment (boat, pumps, paddle, PFD, helmet, drysuit, dry bags, etc.), paddling skills and on-water dynamics. Costs summary: $99 for land-based portion ½ day clinic or $189 for full day clinic, including 2 hours of on-water instruction.  Limited boats and equipment available for rent via GAILS LLC. 
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/Packraft101Lab.jpg" width="500px" />
                <h3>Packraft 101 Lab</h3>
                <p>
                    A full day review encompassing on-water drills and paddling, where you can practice and put your newly acquired skills to the test.  Skills focus:  basic paddle strokes, boat control, peel-out and eddy turns, reading whitewater, day packing considerations, recognizing river features and hazards and basic rescue equipment use and techniques. Costs summary: $189 stand-alone clinic or $349 discount combo clinic when combined with Packraft 101.
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/GilaPrimer.jpg" width="500px" />
                <h3>Gila Primer</h3>
                <p>
                    2-day overnight clinic for Class II aptitude paddlers - focused on unique regional aspects and hazards, such as: remoteness, narrow canyon dynamics, wood and anthropocentric hazards, multi-day considerations (gear packing, logistics, tec.), LNT ethics, land ownership, etc. Learn concepts and perspectives you won’t elsewhere and align expectation for Gila Region multi-day trips.  Clinic is generally held on the middle San Franciso River or Coming in 2024 AZ Gila Box RNCA – weather/flows permitting. Cost summary: $378/person.
                </p>
            </div>
            <div class="subsection">
                <img class="subsection-header-image" src="../assets/images/DeluxePackraftPackage.jpg" width="500px" />
                <h3>Deluxe Packraft Package</h3>
                <p>
                    Includes registration for some combination of the Packraft 101, Packraft 101L or Gila Primer clinics -depending on participant ability.  Designed for those who plan to invest some time in the region and desire or more cohesive clinic spanning 3-4 days.  Cost summary $500/person or check for group discount.
                </p>
            </div>
        </article>
    </div>
    <footer class="footer">
    </footer>
</div>
