
<div class="main">
    <header class="header">
        <div class="header-top-border"></div>
        <div class="header-content-warpper">
            <div class="header-content">
                <img class="banner-logo" src="assets/logo.svg" height="130px"/>
                <div class="banner-patch-wrapper">
                    <img class="banner-patch" src="assets/patch.svg" height="216px"/>
                </div>
                <div class="banner-menu">
                    <ul>
                        <li><a href="#">Adventures</a>
                            <ul>
                                <li href="#">Packrafting
                                <li href="#">Fly/Tenkara Fishing</li>
                                <li href="#">Llama Handling</li>
                                <li href="#">Spike Camps</li>
                                <li href="#">Disc Golf</li>
                            </ul>
                        </li>
                        <li class="link"><a href="#" >Courses</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-bottom-border"></div>
    </header>
    <div class="content">
        <div class="splash">
            <div class="splash-text">
                <!-- <img class="splash-inline-image" src="./../assets/images/splash-inline-image.png" />  -->
                <em>GAILS</em> provides holistic knowledge and support for all your <b>Gila Region</b> back-country <em>adventures!</em>
            </div>
            <img class="splash-feature-image" src="./../assets/images/splash-inline-image.png" />
        </div>
    </div>
    <footer class="footer">
    </footer>
</div>
