<div class="section">
    <div class="subsection">
        <!-- <img class="subsection-header-image" src="../../assets/images/DeluxePackraftPackage.jpg" width="500px" /> -->
        <h3>Rentals</h3>
        <ul>
            <li>Packraft
                <ul>
                    <li>Skirted Alpacka “Classic” (S or M) = $30/day or $200/week</li>
                    <li>Self-bailer MRS (L/XL) = $40/day or $250/week</li>
                </ul>
            </li>
            <li>Paddle
                <ul>
                    <li>2-piece = $8/day or $50/week</li>
                    <li>4-piece spare = $5/day or $30/week</li>
                </ul>
            </li>
            <li>Helmet - $3/day or $20/week</li>
            <li>PFD – $5/day or $20/week</li>
            <li>Sleeping bag – $10/day or $60/week</li>
            <li>Sleeping pad – $5/day or $30/week</li>
            <li>Tent – $20/day or $100/week</li>
            <li>Dry bags – depends on size/type</li>
            <li>Stove – $10/day or $60/week</li>
            <li>Cookware – $3/day or $10/week</li>
            <li>Water filter – $20/day or $100/week</li>
            <li>Backpack – $12/day or $75/week</li>
        </ul>
    </div>
</div>