<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/GilaPrimer.jpg" width="500px" />
        <h3>Gila Primer</h3>
        <p>
            2-day overnight clinic for Class II aptitude paddlers - focused on unique regional aspects and hazards, such as: remoteness, narrow canyon dynamics, wood and anthropocentric hazards, multi-day considerations (gear packing, logistics, tec.), LNT ethics, land ownership, etc. Learn concepts and perspectives you won’t elsewhere and align expectation for Gila Region multi-day trips.  Clinic is generally held on the middle San Francisco River or Coming in 2024 AZ Gila Box RNCA – weather/flows permitting.  Cost summary: $378/person.
        </p>
    </div>
</div>

