<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/Packraft101Lab.jpg" width="500px" />
        <h3>Packraft 101</h3>
        <p>
            Basic ½ or single day clinic that covers everything packrafting, including: the basics of equipment (boat, pumps, paddle, PFD, helmet, drysuit, dry bags, etc.), paddling skills and on-water dynamics. Costs summary: $99 for land-based portion ½ day clinic or $189 for full day clinic, including 2 hours of on-water instruction.  Limited boats and equipment available for rent via GAILS LLC.
        </p>
        <ngx-paypal [config]="payPalConfig" style="width:200px; display: inline-block; color: black;"></ngx-paypal>
    </div>
</div>

