<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/packrafting2.jpg" width="500px" />
        <h3>Packrafting</h3>
        <p>
            The Gila Region is home to a high density of perennial streams, as compared to most other areas within the arid Southwest, making packrafting the perfect mode of transportation to explore this remote and scenic wilderness destination. GAILS is proud to offer beginner – intermediate instruction, guided overnight clinics and equipment rentals to support your paddling adventures!
        </p>
    </div>
</div>

