<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../../assets/images/Packraft101Lab.jpg" width="500px" />
        <h3>Packraft 101 Lab</h3>
        <p>
            A full day review encompassing on-water drills and paddling, where you can practice and put your newly acquired skills to the test.  Skills focus:  basic paddle strokes, boat control, peel-out and eddy turns, reading whitewater, day packing considerations, recognizing river features and hazards and basic rescue equipment use and techniques. Costs summary: $189 stand-alone clinic or $349 discount combo clinic when combined with Packraft 101.
        </p>
    </div>
</div>

