@import './assets/styles/common';



* {    
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* font-family: InterVariable, sans-serif; */
    /* font-family: "proxima-soft", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

body {
    background: $color-background url('assets/background.jpg'); 
    background-size: cover;                  
    color: $color-gails-off-white;
    font-family: $font-family-body;
    font-size: 19px;
    font-weight: 100;
}

a:link { 
    color: $color-link; 
    text-decoration: none; 
} 

a:visited { 
    color: $color-visited; 
    text-decoration: none; 
} 

a:hover { 
    color: $color-hover; 
    text-decoration: none; 
} 

a:active { 
    color: $color-active; 
    text-decoration: none; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-display;
    letter-spacing: -.02em
}

h1, h2 {
    text-transform: uppercase;
    color: $color-gails-camel;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.content {
    flex: 1 1 100%;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 6em 8em;
}


.section {
    margin: 4em 8em 8em 8em;
    display: flex;
    flex-direction: column;
    gap: 4em;
    .section-header {
        margin: 8em 0 4em 0;
        display: flex;
        direction: row;
        align-items: center;
        gap: 1em;
        * {
            display: block;
            border: 0;
            margin: 0;
        }
        div {
            flex: 1 1 100%;
            height: .5em;
            background: $color-gails-tan; 
        }
        h2 {
            flex-grow: 0;
            font-size: 3em;
            font-weight: 800;
        }
    }

}

.footer {
    background: $color-gails-black;
    min-height: 8em;
    width: 100%;
}

.subsection {
    margin: 0 2em;
    h3 {
        font-size: 2em;
        font-weight: 800;
        color: $color-gails-white;
    }
    p {
        font-size: 108%;
    }

}

.subsection-header-image {
    float: left;
    margin-right: 2em;
}


// .subsection:nth-child(even) {
//     .subsection-header-image {
//         float: left;
//         margin-right: 2em;
//     }
// }
// .subsection:nth-child(odd) {
//     .subsection-header-image {
//         float: right;
//         margin-left: 2em;
//     }
//     h3 {
//         text-align: right;
//     }
// }