$color-gails-off-white: #bebbbb;
$color-gails-white: #ddd;
$color-gails-bright-white: #eee;
$color-gails-super-bright-white: #fff;
$color-gails-black: #111;
$color-gails-super-black: #000;

$color-gails-dark-gray: #231F20;
$color-gails-slate-blue: #303B49;
$color-gails-rust: #784024;
$color-gails-green: #566431;
$color-gails-gray: #94938E;
$color-gails-tan: #B8925E;
$color-gails-orange: #ED9207;
$color-gails-camel: #EFC768;
$color-gails-sky-cyan: #C1FFFF;

$color-gails-light-slate: #718c95;

$font-family-body: serif;//"Bellefair", serif; //"proxima-soft", sans-serif;//serif;
$font-family-display: sans-serif;
$font-family-menu: $font-family-display;
$font-family-footer: $font-family-display;

$color-foreground: $color-gails-off-white;
$color-background: $color-gails-dark-gray;
$color-link: mix($color-gails-slate-blue, #fff);
$color-visited: mix($color-gails-slate-blue, #fff);
$color-hover: $color-gails-super-bright-white;
$color-active: $color-gails-super-bright-white;














