<div class="section">
    <div class="subsection">
        <p>GAILS is stoked to offer its’ rancho visitors a private River Access Point (RAP), which can be utilized to swim, hammock in the shade or begin your downriver paddling adventure.  In fact, when flows allow, one can paddle ~ 110 miles down to Solomon, AZ; a mostly remote river reach that encompasses both the San Francisco WSA and the Gila RNCA!  Cost summary is per vehicle/day = $5.  Ask about multi-day discount and gratis with other services.</p>
    </div>
</div>
