<div class="section">
    <div class="subsection">
        <img class="subsection-header-image" src="../assets/images/LlamaTrekking.jpg" width="500px" />
        <h3>Llama Trekking</h3>
        <p>
            The GAILS rancho has been home to three “Classic” pack llamas for over a decade now. These sure-footed camelids are fully trained for panier-style packing and can carry 75-100 lbs. of gear per animal. Visitors and campers can hang out, photograph and hand feed them or enroll in ½ - full day clinic on handling and packing techniques.
        </p>
    </div>
</div>

