<div class="banner-menu">
    <ul>
        <li><a href="./../adventures">Adventures</a>
            <ul class="sub-menu">
                <li ><a href="./../adventures/packrafting">Packrafting</a></li>
                <li href="#">Fly/Tenkara Fishing</li>
                <li href="#">Llama Handling</li>
                <li href="#">Spike Camps</li>
                <li href="#">Disc Golf</li>
            </ul>
        </li>
        <li class="link"><a href="#" >Courses</a></li>
        <li class="link"><a href="#" >Videos</a></li>
        <li class="link"><a href="#" >Rentals</a></li>
        <li class="link"><a href="#" >Events</a></li>
        <li class="link"><a href="#" >Campground</a></li>
        <li class="link"><a href="#" >River Access</a></li>
        <li class="link"><a href="#" >Shuttles</a></li>
    </ul>
</div>

