<div class="banner-menu">
    <ul>
        <li>
            <a href="./../adventures">Adventures</a>
            <ul class="sub-menu">
                <li class="link"><a href="./../adventures/packrafting">Packrafting</a></li>
                <li class="link"><a href="./../adventures/llama-trekking">Llama Trekking</a></li>
                <li class="link"><a href="./../adventures/fishing">Fly/Tenkara Fishing</a></li>
                <li class="link"><a href="./../adventures/disc-golf">Disc Golf</a></li>
            </ul>
        </li>
        <li>
            <a href="./../clinics">Clinics</a>
            <ul class="sub-menu">
                <li class="link" ><a href="./../clinics/packraft-one">Packraft 101</a></li>
                <li class="link"><a href="./../clinics/packraft-one-lab">Packraft 101 Lab</a></li>
                <li class="link"><a href="./../clinics/gila-primer">Gila Primer</a></li>
                <li class="link"><a href="./../clinics/deluxe-packraft-package">Deluxe Packraft Package</a></li>
                <li class="link"><a href="./../clinics/fly-tenkara-one">Fly and Tenkara 101</a></li>
                <li class="link"><a href="./../clinics/fly-and-tenkara-one-lab">Fly and Tenkara 101 Lab</a></li>
            </ul>
        </li>
        <li>
            <a href="./../shuttles">Shuttles</a>
            <ul class="sub-menu">
                <li class="link"><a href="./../shuttles/gila-river">Gila River</a></li>
                <li class="link"><a href="./../shuttles/san-franciso-river">San Franciso River</a></li>
                <li class="link"><a href="./../shuttles/blue-river">Blue River</a></li>
            </ul>
        </li>
        <li class="link"><a href="./../mrs-packrafts" >MRS Packrafts</a></li>
        <li class="link"><a href="./../campground" >Campground</a></li>
        <li class="link"><a href="./../river-access" >River Access</a></li>
        <li>
            <a href="./../events">Events</a>
            <ul class="sub-menu">
                <li class="link"><a href="./../events/z-dog-rondy">Z-dog Rondy</a></li>
            </ul>            
        </li>
        <li class="link"><a href="./../videos">Videos</a></li>
    </ul>
</div>

